@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-cyan: #00f2ff;
}

body {
  background: #000814;
  color: white;
  margin: 0;
  padding: 0;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
}
